<!--1-->
<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Iris Vision</title>
        <!--2-->
        <meta charset="UTF-8">
        <meta name="description" content="Site-ul nostru de ochelari ofera diferite tipuri de ochelari, precum: de vedre, de soare, de sport, cu optiunea de cumparare online si livrare prin curier.">
        <meta name="keywords" content="ochelari, iris, vision, lentile, rame, progresivi">
        
        <!--etapa 4 - ex5 -->
        <%- include("../fragmente/head.ejs") %> <!-- minus reprezinta output-->


    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
    <main>
        <h2>Despre noi</h2>
            <section>
                <img src="/resurse/imagini/ochelari-de-soare-la-moda.jpg" alt = "despre noi" width="1000" heigh="400"/>
                <p>Un grup de opticieni (dar nu numai) entuziaști, dedicați si doritori să împărtășească ce știu despre lentile, rame, ochelari.</p>
                <p><strong>Ce vrem?</strong></p>
                <ul>
                    <li>Ne dorim să facem lucrurile mai simple și în acest domeniu, iar clienții noștri să știe ce lentile le trebuie și cum să le aleagă, în așa fel încât să se potrivescă cât mai bine cu nevoile și dorințele acestora.</li>
                    <li>Să oferim o experiență de navigare cât mai plăcută și distractivă în magazinul nostru online.</li>
                    <li>Să fim mereu acolo să ajutam, să explicăm, să îndrumăm, cu amabilitate, răbdare și profesionalism pe oricine vrea să știe mai multe despre ochelari.</li>
                    <li>Să oferim suficiente posibilități de a alege, fie că este vorba de rame sau lentile. Ne dorim ca fiecare să poată gasi aici o soluție bună, atât din punct de vedere tehnic si estetic, cât și conformă cu bugetul de care dispune.</li>
                    <li>Să încercăm să informăm cât mai mult în legatură cu produsele pe care le vindem și cu noutățile în domeniu.</li>
                    <li>Să oferim produse de calitate, de la cei mai buni furnizori, la prețuri cât mai bune.</li>
                    <li>Să avem clienți multumiți și care revin cu plăcere la noi.</li>
                </ul>   
            </section>
    </main>
    <%- include("../fragmente/footer.ejs") %>
    </body>
</html>