body{
    --inaltime-meniu:40px;
    --latime-buton:100%;
}
#acasa-meniu{
    display:block;
}
#acasa{
    display:none;
}


#hamburger{
    display: block;
    margin:0;

}

#hamburger>img{
    
    height: var(--inaltime-meniu);
    width:auto;
    display: block;
    margin:0;
}

ul.meniu{
    display: none;
}

#ch-menu:checked + ul.meniu {
    display: block;
    animation-name: fade-in-menu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fade-in-menu {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  ul.meniu {
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  #ch-menu:checked + ul.meniu {
    opacity: 1;
  }

  /*
  #ch-menu:checked + ul.meniu {
  display: block;
  animation-name: animatie_meniu;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transform-origin: center top;
  mask-image: linear-gradient(to bottom, transparent, black);
  mask-size: 100% 100%;
  mask-position: 0 -100%;
}

@keyframes animatie_meniu {
  0% {
    mask-position: 0 -100%;
  }
  100% {
    mask-position: 0 0;
  }
}

  */
  
  
  