<footer class="c2">
    <!--11b-->
   <div class="mergi-sus" title="Mergi sus">
       <a href = # style="text-decoration: none;">
       <span class="paranteza">(</span>
       <span class="triunghi"></span>
       <span class="paranteza">)</span>
       </a>
   </div>
   <address> 
       <!--13-->
       <a href="mailto:iris.vison@gmail.com">Mail</a>
       <a href="tel:0745568913">Număr de telefon</a>
       <a href="https://wa.link/fa6dw0">WhatsAapp</a>
       <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355355,26.0995867,15z/data=!4m2!3m1!1s0x0:0x493984726f0235f9?sa=X&ved=2ahUKEwiX5-H3ocD9AhXy7LsIHdbuC-AQ_BJ6BAhZEAg">Strada Nicolae Orbu, nr. 29</a>
   </address>
   <!--14-->
   <small>Copyright &copy; <time datetime="2023-02-07"> 4 martie 2023 </time> </small> <!--data-->
   <p id="banner"> Acesta este un proiect școlar!</p>
   
</footer>